body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    height: 100vh;
}

.first-player-section,
.game-board-section,
.second-player-section {
    text-align: center;
    padding: 20px; 
}

.first-player-section,
.second-player-section {
    width: 130px;
    background: rgb(34,193,195);
    background: linear-gradient(to bottom, rgba(34,193,195,1) 1%, rgba(51,193,183,1) 7%, rgba(253,187,45,1) 62%); 
}

.game-board-section {
    width: 1500px;
    margin: 0;
    justify-content: center;
    align-items: center;
    background: rgb(5,89,130);
    background: linear-gradient(180deg, rgba(5,89,130,1) 9%, rgba(200,124,19,0.0830045681063123) 30%, rgba(187,203,218,1) 87%);
}

#tic-tac-toe-board {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-content: center;
    margin-top: 10rem;
}

.box {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 40px;
}

.player-one,
.player-two {
    margin-top: 6rem;
    font-size: 60px; 
}

.current-header {
    font-size: 40px;
    margin-top: 6rem;
}

#box-1, 
#box-2,
#box-3 {
    border-left: none;
}
#box-1,
#box-4,
#box-7 {
    border-top: none;
}

#box-7,
#box-8,
#box-9 {
    border-right: none;
}

#box-3,
#box-6,
#box-9 {
    border-bottom: none;
}